table td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.cont {
  display: flex;
  justify-content: center;
}
.body {
  background: #000;
  display: grid;
  place-content: center;
  height: 100vh;
}
#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 62.5px);
  grid-template-rows: repeat(8, 62.5px);

  width: 500px;
  height: 500px;
}
.block {
  width: 62.5px;
  height: 62.5px;
  border: 1px solid white;
}

.whitee {
  background-color: white;
}

.greenn {
  background-color: green;
}
